

:root{

    --white:#ffff;
    --blue1:rgba(146, 202, 254, 1);
    --blue2:rgba(3, 72, 115, 1);
    --blue3:rgba(34, 204, 195, 1);
    --blue4:rgba(2, 102, 99, 1);
    --green:rgba(186, 240, 45, 1);
    
}
